
<main class="ui-container">
  <nav>
    <div class="menu">
      <a href="#">Principal<br></a>
      <a href="#">Cadastrar Matéria<br></a>
      <a href="#">Fale Conosco<br></a>
      <a href="#">Configurações<br></a>
    </div>
  </nav>
  <header>
    <div class="left">
      <h1>Olá, Usuário</h1>
      <button>Começar Estudos</button>
    </div>
    <div class="right">
      <img src="assets/images/home-image.png" alt="figura de boas vindas">
    </div>
  </header>
  <section class="stats">
    <div class="graphic-area">
      <h2>Aqui vai ficar o gráfico</h2>
      <div class="graphic"><h1>Grafico</h1></div>
    </div>
    <div class="cards">
      <div class="card">
        <div class="subject-icon"> <p>um quadrado</p></div>
        <div class="subject-name"><p>Matéria</p></div>
        <div class="subject-time"><p>Horas na semana</p></div>
      </div>
      <div class="card">
        <div class="subject-icon"> <p>um quadrado</p></div>
        <div class="subject-name"><p>Matéria</p></div>
        <div class="subject-time"><p>Horas na semana</p></div>
      </div>
      <div class="card">
        <div class="subject-icon"> <p>um quadrado</p></div>
        <div class="subject-name"><p>Matéria</p></div>
        <div class="subject-time"><p>Horas na semana</p></div>
      </div>
      <div class="card">
        <div class="subject-icon"> <p>um quadrado</p></div>
        <div class="subject-name"><p>Matéria</p></div>
        <div class="subject-time"><p>Horas na semana</p></div>
      </div>
      <div class="card">
        <div class="subject-icon"> <p>um quadrado</p></div>
        <div class="subject-name"><p>Matéria</p></div>
        <div class="subject-time"><p>Horas na semana</p></div>
      </div>
      <div class="card">
        <div class="subject-icon"> <p>um quadrado</p></div>
        <div class="subject-name"><p>Matéria</p></div>
        <div class="subject-time"><p>Horas na semana</p></div>
      </div>

    </div>
  </section>
  <section class="profile">
    <div>
      <img src="assets/images/profile.jpeg" alt="Avatar do usuário">
    </div>
    <div>
      <h2>Nome do usuário</h2>
    </div>
    <div>
      <h3>Estudando para Objetivo</h3>
    </div>
    <div>
      <h3>total de horas estudadas</h3>
    </div>
    <div>
      <h3>Frase motivacional aleatória</h3>
    </div>
  </section>
</main>
