<main>
  <section class="container">
    <div class="baner_area">
      <img src="assets/images/login_banner.svg" alt="Imagem Tela de Login" />
      <div class="title">
        <h1>Contador de Estudos Online</h1>
        <p>Gerencie seus estudos</p>
        <p>de forma prática</p>
      </div>
    </div>
    <div class="login_area">
      <img class="logo" src="assets/images/logo.svg" alt="Logotipo" />
      <div class="login_form">
        <h1>Entrar</h1>
        <p>Preencha seus dados para entrar</p>
        <input type="text" placeholder="E-mail" />
        <input type="text" placeholder="Senha" />
        <div class="forgot">
          <a href="#">Esqueci minha senha</a>
        </div>
        <button tabindex="0" type="button">Entrar</button>
        <div class="signup">
          <p>Ainda não tem uma conta?</p>
          <a href="#">Cadastrar agora</a>
        </div>

      </div>
    </div>
  </section>
</main>
