main {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .baner_area {
    width: 100vh;
    position:relative;
    padding: 1rem;

    img {
      width: 50rem;
    }

    .title {
      position: absolute;
      top:43rem;
      justify-self: center;
      z-index: 1000;

      h1 {
        font-size: 3.2rem;
        color: #fcf7ff;
      }

      p {
        font-size: 2rem;
        text-align: center;
        color: #fcf7ff;
      }
    }
  }

  .login_area {
    width: 100vh;

    .logo {
      width: 23.6rem;
      margin-top: 3.2rem;
      margin-left: 3.2rem;
    }

    .login_form {
      width: 100%;
      margin-left: 5rem;
      margin-top: 6.4rem;

      h1 {
        font-size: 3.6rem;
        width: max-content;
      }

      p {
        font-size: 1.8rem;
        width: max-content;
      }

      input,
      button {
        width: 30.1rem;
        height: 4.3rem;
        border-radius: 19px;
        padding: 0 1.6rem;
        margin-top: 2.4rem;
        position: relative;
        z-index: 1000;
      }

      input {
        background-color: #ffffff;
        position: relative;
        border: 2px;

      }

      a {

        text-decoration: underline;
        color: #58018a;
        width: max-content;
      }

      .forgot {
        margin-top: 1.6rem;
        width: max-content;
      }

      button {
        background-color: #01277e;
        border: none;
        font-weight: bold;
        color: #CCCCCC;
        font-size: 1.76rem;
      }

      button:hover {
        cursor: pointer;
        box-shadow: 2px 2px 0 1px rgb(6, 0, 83);
      }

      button:active {
        box-shadow: 0 0 0 0 rgb(6, 0, 83), inset 3px 3px 3px rgb(6, 0, 83);
        transform: translate(2);
      }

      .signup {
        margin-top: 2.9rem;
        width: max-content;
      }
    }
  }
}

.container::after {
  background: linear-gradient(180.71deg, rgba(196, 196, 196, 0) 0.86%, rgba(0, 41, 102, 0.8) 99.65%);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
}

@media (max-width: 894px){

  .container
  .login_area
  .login_form {
    margin-left: 1rem;
  }
}

@media (max-width: 762px){

  .container
  .baner_area
  img {
    margin-left: 0.5rem;
  }

  .container
  .baner_area
  .title {
    left:0.3rem;
  }
}

@media (max-width: 646px){
  .container
  .baner_area {
    visibility: hidden;
    width: 0;
  }

  .container
  .login_area {
    justify-items: center;
    width: 100%;
    max-width: 63rem;
  }

  .container
  .login_area
  .login_form {
    margin: 3rem 0;
    input,
    button {
      width: 40rem;
    }
  }
}
